[package]
name = "game"
version = "0.1.0"
edition = "2021"

[dependencies]
macroquad = "0.4"
glam = { workspace = true }
sim = { path = "../sim" }
# dfsph = { path = "../dfsph" } # DISABLED - water only for now
